Repository openstack/manila: changes, and which Zuul jobs are due for each by the changed paths.
All: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

grenade-dsvm-manila:
  parent: legacy-dsvm-base
  run: playbooks/legacy/grenade-dsvm-manila/run
  post-run: playbooks/legacy/grenade-dsvm-manila/post
  timeout: 10800
  required-projects:
  - openstack-dev/grenade
  - openstack-infra/devstack-gate
  - openstack/manila
  - openstack/python-manilaclient

legacy-manila-tempest-dsvm-base:
  parent: legacy-dsvm-base

manila-tempest-dsvm-container-scenario-custom-image:
  parent: legacy-manila-tempest-dsvm-base
  run: playbooks/legacy/manila-tempest-dsvm-container-scenario-custom-image/run
  post-run: playbooks/legacy/manila-tempest-dsvm-container-scenario-custom-image/post
  timeout: 5400
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/manila
  ...

manila-tempest-dsvm-generic-no-share-servers:
  parent: legacy-manila-tempest-dsvm-base
  run: playbooks/legacy/manila-tempest-dsvm-generic-no-share-servers/run
  post-run: playbooks/legacy/manila-tempest-dsvm-generic-no-share-servers/post
  timeout: 5400
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/manila
  ...

manila-tempest-dsvm-generic-scenario-custom-image:
  parent: legacy-manila-tempest-dsvm-base
  run: playbooks/legacy/manila-tempest-dsvm-generic-scenario-custom-image/run
  post-run: playbooks/legacy/manila-tempest-dsvm-generic-scenario-custom-image/post
  timeout: 5400
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/manila
  ...

manila-tempest-dsvm-glusterfs-native:
  parent: legacy-manila-tempest-dsvm-base
  run: playbooks/legacy/manila-tempest-dsvm-glusterfs-native/run
  post-run: playbooks/legacy/manila-tempest-dsvm-glusterfs-native/post
  timeout: 4800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/devstack-plugin-glusterfs
  - openstack/manila
  ...

manila-tempest-dsvm-glusterfs-native-heketi:
  parent: legacy-manila-tempest-dsvm-base
  run: playbooks/legacy/manila-tempest-dsvm-glusterfs-native-heketi/run
  post-run: playbooks/legacy/manila-tempest-dsvm-glusterfs-native-heketi/post
  timeout: 4800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/devstack-plugin-glusterfs
  ...

manila-tempest-dsvm-glusterfs-nfs:
  parent: legacy-manila-tempest-dsvm-base
  run: playbooks/legacy/manila-tempest-dsvm-glusterfs-nfs/run
  post-run: playbooks/legacy/manila-tempest-dsvm-glusterfs-nfs/post
  timeout: 4800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/devstack-plugin-glusterfs
  - openstack/manila
  ...

manila-tempest-dsvm-glusterfs-nfs-heketi:
  parent: legacy-manila-tempest-dsvm-base
  run: playbooks/legacy/manila-tempest-dsvm-glusterfs-nfs-heketi/run
  post-run: playbooks/legacy/manila-tempest-dsvm-glusterfs-nfs-heketi/post
  timeout: 4800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/devstack-plugin-glusterfs
  ...

Updated from global requirements
  requirements.txt
Due: rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Add ssl support for manila API access
  doc/source/configuration/tables/manila-ca.inc
  manila/service.py
  manila/tests/test_service.py
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Use v3 cinder client for share volume
  manila/tests/volume/test_cinder.py
  manila/volume/cinder.py
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Fix drivers_private_data update on deleted entries
  manila/db/sqlalchemy/api.py
  manila/tests/db/sqlalchemy/test_api.py
  releasenotes/notes/bug-172112-fix-drives-private-storage-update-deleted-entries-7516ba624da2dda7.yaml
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Add utils methods to write files
  etc/manila/rootwrap.d/share.filters
  manila/utils.py
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Update docs to fix broken links
  api-ref/source/share-types.inc
  doc/source/admin/shared-file-systems-crud-share.rst
  doc/source/admin/shared-file-systems-scheduling.rst
  doc/source/contributor/adding_release_notes.rst
  doc/source/contributor/documenting_your_work.rst
  doc/source/contributor/driver_requirements.rst
Due: none

QNAP: Add support for QES 1.1.4
  manila/share/drivers/qnap/api.py
  manila/share/drivers/qnap/qnap.py
  manila/tests/share/drivers/qnap/fakes.py
  manila/tests/share/drivers/qnap/test_api.py
  manila/tests/share/drivers/qnap/test_qnap.py
  releasenotes/notes/support-qes-114-5881c0ff0e7da512.yaml
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Simplify the way drivers report support for ipv6
  manila/network/__init__.py
  manila/share/driver.py
  manila/share/drivers/lvm.py
  manila/share/drivers/netapp/dataontap/cluster_mode/drv_multi_svm.py
  manila/share/drivers/netapp/dataontap/cluster_mode/drv_single_svm.py
  manila/share/drivers/netapp/dataontap/cluster_mode/lib_multi_svm.py
  manila/share/drivers/netapp/dataontap/cluster_mode/lib_single_svm.py
  manila/tests/share/drivers/test_lvm.py
  manila/tests/share/test_driver.py
  manila/tests/test_network.py
  releasenotes/notes/bug-1734127-a239d022bef4a002.yaml
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

INFINIDAT add Manila driver
  doc/source/admin/share_back_ends_feature_support_mapping.rst
  doc/source/configuration/shared-file-systems/drivers.rst
  doc/source/configuration/shared-file-systems/drivers/infinidat-share-driver.rst
  doc/source/configuration/tables/manila-infinidat.inc
  manila/opts.py
  manila/share/drivers/infinidat/__init__.py
  manila/share/drivers/infinidat/infinibox.py
  manila/tests/share/drivers/infinidat/__init__.py
  manila/tests/share/drivers/infinidat/test_infinidat.py
  releasenotes/notes/infinidat-add-infinibox-driver-ec652258e710d6a0.yaml
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

ganesha: store exports and export counter in RADOS
  doc/source/admin/cephfs_driver.rst
  doc/source/contributor/ganesha.rst
  manila/exception.py
  manila/share/driver.py
  manila/share/drivers/cephfs/driver.py
  manila/share/drivers/ganesha/__init__.py
  manila/share/drivers/ganesha/manager.py
  manila/tests/share/drivers/cephfs/test_driver.py
  manila/tests/share/drivers/ganesha/test_manager.py
  manila/tests/share/drivers/test_ganesha.py
  releasenotes/notes/ganesha-store-exports-and-export-counter-in-ceph-rados-052b925f8ea460f4.yaml
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Remove usage of deprecated config 'resources_prefix'
  manila_tempest_tests/tests/api/base.py
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Add count info in /shares and /shares/detail API doc
  api-ref/source/parameters.yaml
  api-ref/source/samples/shares-list-detailed-response.json
  api-ref/source/samples/shares-list-response.json
  api-ref/source/shares.inc
Due: none

[policy in code] Add support for share type resource [2/10]
  etc/manila/policy.json
  manila/policies/__init__.py
  manila/policies/base.py
  manila/policies/share_type.py
  manila/policy.py
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

[policy in code] Add support for share resource [3/10]
  etc/manila/policy.json
  manila/policies/__init__.py
  manila/policies/shares.py
  manila/policy.py
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Extend .gitignore for linux swap files range
  .gitignore
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Add count info in /shares and /shares/detail response
  manila/api/openstack/api_version_request.py
  manila/api/openstack/rest_api_version_history.rst
  manila/api/v1/shares.py
  manila/api/v2/shares.py
  manila/api/views/shares.py
  manila/tests/api/v2/test_shares.py
  manila_tempest_tests/config.py
  manila_tempest_tests/tests/api/test_shares_actions.py
  releasenotes/notes/add-count-info-in-share-21a6b36c0f4c87b9.yaml
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

[policy in code] Add support for snapshot resource [4/10]
  etc/manila/policy.json
  manila/policies/__init__.py
  manila/policies/share_snapshot.py
  manila/policies/share_snapshot_export_location.py
  manila/policies/share_snapshot_instance.py
  manila/policies/share_snapshot_instance_export_location.py
  manila/policy.py
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Remove unused configuration options
  doc/source/configuration/tables/manila-common.inc
  manila/coordination.py
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

[policy in code] Add support for service and quota resource [5/10]
  etc/manila/policy.json
  manila/policies/__init__.py
  manila/policies/quota_class_set.py
  manila/policies/quota_set.py
  manila/policies/service.py
  manila/policies/share_server.py
  manila/policy.py
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Change ensure share to make startup faster
  manila/db/api.py
  manila/db/migrations/alembic/versions/4a482571410f_add_backends_info_table.py
  manila/db/sqlalchemy/api.py
  manila/db/sqlalchemy/models.py
  manila/share/driver.py
  manila/share/drivers/lvm.py
  manila/share/manager.py
  manila/share/utils.py
  manila/tests/db/migrations/alembic/migrations_data_checks.py
  manila/tests/db/sqlalchemy/test_api.py
  manila/tests/share/drivers/test_lvm.py
  manila/tests/share/test_manager.py
  releasenotes/notes/enhance-ensure-share-58fc14ffc099f481.yaml
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Fix getting share networks and security services error
  manila/api/v1/security_service.py
  manila/api/v2/share_networks.py
  manila/tests/api/v1/test_security_service.py
  manila/tests/api/v2/test_share_networks.py
  manila_tempest_tests/tests/api/test_security_services.py
  manila_tempest_tests/tests/api/test_security_services_negative.py
  manila_tempest_tests/tests/api/test_share_networks.py
  manila_tempest_tests/tests/api/test_share_networks_negative.py
  releasenotes/notes/bug-1721787-fix-getting-share-networks-and-security-services-error-7e5e7981fcbf2b53.yaml
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Huawei driver supports snapshot revert
  manila/share/drivers/huawei/base.py
  manila/share/drivers/huawei/huawei_nas.py
  manila/share/drivers/huawei/v3/connection.py
  manila/share/drivers/huawei/v3/helper.py
  manila/tests/share/drivers/huawei/test_huawei_nas.py
  releasenotes/notes/huawei-driver-support-snapshot-revert-1208c586bd8db98e.yaml
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

[policy in code] Add support for group resource [6/10]
  etc/manila/policy.json
  manila/policies/__init__.py
  manila/policies/share_group.py
  manila/policies/share_group_snapshot.py
  manila/policies/share_group_type.py
  manila/policies/share_group_types_spec.py
  manila/policy.py
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

[policy in code] Add support for replicas, networks and security services [7/10]
  etc/manila/policy.json
  manila/policies/__init__.py
  manila/policies/security_service.py
  manila/policies/share_network.py
  manila/policies/share_replica.py
  manila/policy.py
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

[policy in code] Add support for share and type extra resource [8/10]
  etc/manila/policy.json
  manila/policies/__init__.py
  manila/policies/share_export_location.py
  manila/policies/share_instance.py
  manila/policies/share_types_extra_spec.py
  manila/policy.py
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

[policy in code] Add support for AZ, scheduler and message resource [9/10]
  devstack/plugin.sh
  doc/source/configuration/shared-file-systems/samples/index.rst
  doc/source/configuration/shared-file-systems/samples/policy.json.rst
  etc/manila/policy.json
  manila/policies/__init__.py
  manila/policies/availability_zone.py
  manila/policies/message.py
  manila/policies/scheduler_stats.py
  manila/policy.py
  setup.cfg
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Add policy documentation and sample file [10/10]
  doc/source/conf.py
  doc/source/configuration/shared-file-systems/samples/index.rst
  doc/source/configuration/shared-file-systems/samples/policy.rst
  doc/source/configuration/shared-file-systems/samples/sample_policy.rst
  releasenotes/notes/add-policy-in-code-c31a24ee045d8d21.yaml
Due: none

Fix default and detailed share type result not correct
  manila/api/v2/share_types.py
  manila/share/share_types.py
  manila/tests/api/v1/test_shares.py
  manila/tests/api/v2/test_share_types.py
  manila/tests/api/v2/test_shares.py
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Fix install docs reference error
  doc/source/install/index.rst
  doc/source/install/next-steps.rst
Due: none

QNAP Manila driver: Access rule setting is override by the later rule setting.
  manila/share/drivers/qnap/api.py
  manila/share/drivers/qnap/qnap.py
  manila/tests/share/drivers/qnap/fakes.py
  manila/tests/share/drivers/qnap/test_api.py
  manila/tests/share/drivers/qnap/test_qnap.py
  releasenotes/notes/bug-1736370-qnap-fix-access-rule-override-1b79b70ae48ad9e6.yaml
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

[Doc] Correct a known restriction in cephfs_driver
  doc/source/admin/cephfs_driver.rst
Due: none

Fix incorrect api ref parameters
  api-ref/source/parameters.yaml
  api-ref/source/shares.inc
Due: none

Path conditions:
  grenade-dsvm-manila: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-manila-tempest-dsvm-base: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-container-scenario-custom-image: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-generic-no-share-servers: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-generic-scenario-custom-image: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-glusterfs-native: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-glusterfs-native-heketi: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-glusterfs-nfs: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-glusterfs-nfs-heketi: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-hdfs: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-mysql-generic: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-postgres-container: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-postgres-generic-singlebackend: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-postgres-zfsonlinux: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-scenario: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-dsvm-cephfs-native-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-dsvm-cephfs-nfs-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-dsvm-dummy: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-dsvm-lvm-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  rally-dsvm-manila-multibackend: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^tools/.*$, ^tox.ini$
  rally-dsvm-manila-multibackend-no-ss: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^tools/.*$, ^tox.ini$
