Repository openstack/manila: changes, and which Zuul jobs are due for each by the changed paths.
All: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

grenade-dsvm-manila:
  parent: legacy-dsvm-base
  run: playbooks/legacy/grenade-dsvm-manila/run
  post-run: playbooks/legacy/grenade-dsvm-manila/post
  timeout: 10800
  required-projects:
  - openstack-dev/grenade
  - openstack-infra/devstack-gate
  - openstack/manila
  - openstack/python-manilaclient

legacy-manila-tempest-dsvm-base:
  parent: legacy-dsvm-base

manila-tempest-dsvm-container-scenario-custom-image:
  parent: legacy-manila-tempest-dsvm-base
  run: playbooks/legacy/manila-tempest-dsvm-container-scenario-custom-image/run
  post-run: playbooks/legacy/manila-tempest-dsvm-container-scenario-custom-image/post
  timeout: 5400
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/manila
  ...

manila-tempest-dsvm-generic-no-share-servers:
  parent: legacy-manila-tempest-dsvm-base
  run: playbooks/legacy/manila-tempest-dsvm-generic-no-share-servers/run
  post-run: playbooks/legacy/manila-tempest-dsvm-generic-no-share-servers/post
  timeout: 5400
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/manila
  ...

manila-tempest-dsvm-generic-scenario-custom-image:
  parent: legacy-manila-tempest-dsvm-base
  run: playbooks/legacy/manila-tempest-dsvm-generic-scenario-custom-image/run
  post-run: playbooks/legacy/manila-tempest-dsvm-generic-scenario-custom-image/post
  timeout: 5400
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/manila
  ...

manila-tempest-dsvm-glusterfs-native:
  parent: legacy-manila-tempest-dsvm-base
  run: playbooks/legacy/manila-tempest-dsvm-glusterfs-native/run
  post-run: playbooks/legacy/manila-tempest-dsvm-glusterfs-native/post
  timeout: 4800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/devstack-plugin-glusterfs
  - openstack/manila
  ...

manila-tempest-dsvm-glusterfs-native-heketi:
  parent: legacy-manila-tempest-dsvm-base
  run: playbooks/legacy/manila-tempest-dsvm-glusterfs-native-heketi/run
  post-run: playbooks/legacy/manila-tempest-dsvm-glusterfs-native-heketi/post
  timeout: 4800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/devstack-plugin-glusterfs
  ...

manila-tempest-dsvm-glusterfs-nfs:
  parent: legacy-manila-tempest-dsvm-base
  run: playbooks/legacy/manila-tempest-dsvm-glusterfs-nfs/run
  post-run: playbooks/legacy/manila-tempest-dsvm-glusterfs-nfs/post
  timeout: 4800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/devstack-plugin-glusterfs
  - openstack/manila
  ...

manila-tempest-dsvm-glusterfs-nfs-heketi:
  parent: legacy-manila-tempest-dsvm-base
  run: playbooks/legacy/manila-tempest-dsvm-glusterfs-nfs-heketi/run
  post-run: playbooks/legacy/manila-tempest-dsvm-glusterfs-nfs-heketi/post
  timeout: 4800
  required-projects:
  - openstack-infra/devstack-gate
  - openstack/devstack-plugin-glusterfs
  ...

Replace invalid link in manila doc
  doc/source/install/post-install.rst
Due: none

Api-ref: add show details for share type
  api-ref/source/parameters.yaml
  api-ref/source/samples/share-type-show-response.json
  api-ref/source/share-types.inc
Due: none

ganesha: read and store non-ASCII data in exports
  manila/share/drivers/ganesha/manager.py
  manila/tests/share/drivers/ganesha/test_manager.py
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Raise error when image status is not active
  manila/share/drivers/service_instance.py
  manila/tests/share/drivers/test_service_instance.py
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Fix running docs job failure
  doc/source/configuration/shared-file-systems/samples/sample_policy.rst
Due: none

DocImpact: Add quotas per share type
  doc/source/admin/shared-file-systems-quotas.rst
  doc/source/cli/manila.rst
Due: none

Fix error message in the manage API
  manila/share/share_types.py
  releasenotes/notes/bug-1705533-manage-api-error-message-fix-967b0d44c09b914a.yaml
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Add support for enhanced features to the QNAP Manila driver
  doc/source/admin/share_back_ends_feature_support_mapping.rst
  manila/share/drivers/qnap/api.py
  manila/share/drivers/qnap/qnap.py
  manila/tests/share/drivers/qnap/fakes.py
  manila/tests/share/drivers/qnap/test_api.py
  manila/tests/share/drivers/qnap/test_qnap.py
  releasenotes/notes/qnap-enhance-support-53848fda525b7ea4.yaml
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Always disable root-squash
  manila/share/drivers/helpers.py
  manila/tests/share/drivers/test_helpers.py
  releasenotes/notes/bug-1735832-43e9291ddd73286d.yaml
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Fix volume attach error in generic driver
  manila/share/drivers/generic.py
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Remove ordering attempts of 'unorderable types'
  manila/tests/db/sqlalchemy/test_api.py
  manila/tests/scheduler/test_host_manager.py
  manila/tests/share/test_access.py
Due: none

QNAP: Add support for QES 2.0.0
  manila/share/drivers/qnap/qnap.py
  releasenotes/notes/qnap-support-qes-200-639f3ad70687023d.yaml
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Fix version details API does not return 200 OK
  api-ref/source/versions.inc
Due: none

Implement IPv6 support for Dell EMC VNX driver
  doc/source/admin/emc_vnx_driver.rst
  doc/source/admin/share_back_ends_feature_support_mapping.rst
  manila/share/drivers/dell_emc/common/enas/connector.py
  manila/share/drivers/dell_emc/common/enas/utils.py
  manila/share/drivers/dell_emc/driver.py
  manila/share/drivers/dell_emc/plugins/vnx/connection.py
  manila/share/drivers/dell_emc/plugins/vnx/object_manager.py
  manila/tests/share/drivers/dell_emc/common/enas/fakes.py
  manila/tests/share/drivers/dell_emc/common/enas/test_utils.py
  manila/tests/share/drivers/dell_emc/plugins/vnx/test_connection.py
  manila/tests/test_utils.py
  manila/utils.py
  releasenotes/notes/vnx-manila-ipv6-support-9ae986431549cc63.yaml
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Fix NFS/CIFS share creation failure issue
  manila/image/__init__.py
  manila/image/glance.py
  manila/share/drivers/service_instance.py
  manila/tests/image/__init__.py
  manila/tests/image/test_image.py
  manila/tests/share/drivers/test_service_instance.py
  releasenotes/notes/switch-to-use-glanceclient-dde019b0b141caf8.yaml
  requirements.txt
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Fix default and detailed share type result not correct
  manila/api/v2/share_types.py
  manila/share/share_types.py
  manila/tests/api/v1/test_shares.py
  manila/tests/api/v2/test_share_types.py
  manila/tests/api/v2/test_shares.py
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Use stestr for coverage
  .gitignore
  .testr.conf
  test-requirements.txt
  tools/cover.sh
  tox.ini
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

DocImpact: Add MapR-FS native driver
  api-ref/source/parameters.yaml
  doc/source/admin/shared-file-systems-crud-share.rst
  doc/source/admin/shared-file-systems-manage-and-unmanage-share.rst
  doc/source/admin/shared-file-systems-share-management.rst
  doc/source/install/index.rst
Due: none

Updated from global requirements
  requirements.txt
  test-requirements.txt
Due: rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Follow the new PTI for document build
  doc/requirements.txt
  test-requirements.txt
  tox.ini
Due: rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Add ipv6 for share network admin doc
  doc/source/admin/shared-file-systems-network-plugins.rst
Due: none

Updated from global requirements
  doc/requirements.txt
Due: none

Modify outdated links
  doc/source/admin/container_driver.rst
  doc/source/admin/emc_vnx_driver.rst
Due: none

Disable security group rule when create port
  manila/network/neutron/api.py
  manila/share/drivers/service_instance.py
  manila/tests/share/drivers/test_service_instance.py
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Implement IPv6 support for Manila Dell EMC Unity driver
  doc/source/admin/emc_unity_driver.rst
  doc/source/admin/share_back_ends_feature_support_mapping.rst
  manila/share/drivers/dell_emc/driver.py
  manila/share/drivers/dell_emc/plugins/unity/client.py
  manila/share/drivers/dell_emc/plugins/unity/connection.py
  manila/tests/share/drivers/dell_emc/plugins/unity/mocked_manila.yaml
  manila/tests/share/drivers/dell_emc/plugins/unity/mocked_unity.yaml
  manila/tests/share/drivers/dell_emc/plugins/unity/test_client.py
  manila/tests/share/drivers/dell_emc/plugins/unity/test_connection.py
  manila/tests/share/drivers/dell_emc/test_driver.py
  releasenotes/notes/unity-manila-ipv6-support-dd9bcf23064baceb.yaml
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Update contributor/tempest_tests.rst
  doc/source/contributor/tempest_tests.rst
Due: none

Remove use of deprecated config 'resources_prefix'
  manila_tempest_tests/tests/api/base.py
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Replace curly quotes with straight quotes
  doc/source/admin/group_capabilities_and_extra_specs.rst
  doc/source/admin/hitachi_hnas_driver.rst
  doc/source/admin/shared-file-systems-network-plugins.rst
  doc/source/configuration/shared-file-systems/drivers/hitachi-hsp-driver.rst
  doc/source/configuration/shared-file-systems/drivers/hpe-3par-share-driver.rst
Due: none

Update unreachable link
  doc/source/contributor/driver_requirements.rst
Due: none

NetApp cDOT: Add NVE support in Manila
  manila/share/drivers/netapp/dataontap/client/api.py
  manila/share/drivers/netapp/dataontap/client/client_base.py
  manila/share/drivers/netapp/dataontap/client/client_cmode.py
  manila/share/drivers/netapp/dataontap/cluster_mode/lib_base.py
  manila/tests/share/drivers/netapp/dataontap/client/fakes.py
  manila/tests/share/drivers/netapp/dataontap/client/test_api.py
  manila/tests/share/drivers/netapp/dataontap/client/test_client_base.py
  manila/tests/share/drivers/netapp/dataontap/client/test_client_cmode.py
  manila/tests/share/drivers/netapp/dataontap/cluster_mode/test_lib_base.py
  manila/tests/share/drivers/netapp/dataontap/fakes.py
  releasenotes/notes/bp-netapp-ontap-storage-based-cryptograpy-bb7e28896e2a2539.yaml
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Update manila plugin to support IPv6
  .zuul.yaml
  contrib/ci/post_test_hook.sh
  contrib/ci/pre_test_hook.sh
  devstack/plugin.sh
  devstack/settings
  manila/share/driver.py
  manila/share/utils.py
  manila/tests/share/test_share_utils.py
  playbooks/legacy/manila-tempest-minimal-dsvm-lvm-centos-7/run.yaml
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Enable IPv6 scenario tests in Upstream CI
  contrib/ci/post_test_hook.sh
  contrib/ci/pre_test_hook.sh
  playbooks/legacy/manila-tempest-minimal-dsvm-lvm-centos-7/run.yaml
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

fix misspelling of 'password'
  doc/source/configuration/shared-file-systems/drivers/emc-unity-driver.rst
Due: none

Use native Zuul v3 tox job
  .zuul.yaml
  playbooks/legacy/manila-tox-genconfig/post.yaml
  playbooks/legacy/manila-tox-genconfig/run.yaml
Due: grenade-dsvm-manila, legacy-manila-tempest-dsvm-base, manila-tempest-dsvm-container-scenario-custom-image, manila-tempest-dsvm-generic-no-share-servers, manila-tempest-dsvm-generic-scenario-custom-image, manila-tempest-dsvm-glusterfs-native, manila-tempest-dsvm-glusterfs-native-heketi, manila-tempest-dsvm-glusterfs-nfs, manila-tempest-dsvm-glusterfs-nfs-heketi, manila-tempest-dsvm-hdfs, manila-tempest-dsvm-mysql-generic, manila-tempest-dsvm-postgres-container, manila-tempest-dsvm-postgres-generic-singlebackend, manila-tempest-dsvm-postgres-zfsonlinux, manila-tempest-dsvm-scenario, manila-tempest-minimal-dsvm-cephfs-native-centos-7, manila-tempest-minimal-dsvm-cephfs-nfs-centos-7, manila-tempest-minimal-dsvm-dummy, manila-tempest-minimal-dsvm-lvm-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7, manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7, rally-dsvm-manila-multibackend, rally-dsvm-manila-multibackend-no-ss

Path conditions:
  grenade-dsvm-manila: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  legacy-manila-tempest-dsvm-base: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-container-scenario-custom-image: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-generic-no-share-servers: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-generic-scenario-custom-image: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-glusterfs-native: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-glusterfs-native-heketi: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-glusterfs-nfs: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-glusterfs-nfs-heketi: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-hdfs: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-mysql-generic: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-postgres-container: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-postgres-generic-singlebackend: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-postgres-zfsonlinux: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-dsvm-scenario: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-dsvm-cephfs-native-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-dsvm-cephfs-nfs-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-dsvm-dummy: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-dsvm-lvm-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-py35-dsvm-cephfs-native-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  manila-tempest-minimal-py35-dsvm-cephfs-nfs-centos-7: unless all of: ^(test-|)requirements.txt$, ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^setup.cfg$, ^tools/.*$, ^tox.ini$
  rally-dsvm-manila-multibackend: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^tools/.*$, ^tox.ini$
  rally-dsvm-manila-multibackend-no-ss: unless all of: ^.*\.rst$, ^api-ref/.*$, ^doc/.*$, ^install-guide/.*$, ^manila/hacking/.*$, ^manila/tests/.*$, ^releasenotes/.*$, ^run_tests.sh$, ^tools/.*$, ^tox.ini$
